*{margin:0;padding:0}
a{text-decoration:none;}

body{
	background:white;
    width: 100%;
	font-family:arial;
	
}
.about{
	
color:white;
	
width:500px;
	
margin-left: 110px;
	
margin-top: 95px;
	
float:left;
}
.abouts{
	background:black;
	width:100%;
	height:400px;
}
.about h1{
	padding: 14px;
	padding-left: 0px;
	padding-bottom: 5px;
	font-size: 30px;
	font-family: cursive;
	border-bottom:1px solid #e96406;
}
.abouts h1 span{
	color:#d76503;
}
.right{
	width:200px;
	float:right;
	margin-right: 241px;
	margin-top: 21px;
	
}
.img {
    margin: 15px 0px;
}
.img img{
	width:100%;
	border: 1px solid #323231;
}
.p1{
	font-family: cursive;
	font-size: 15px;
	color: #f8f8f8;
	padding-top: 19px;
}
.p2{
	font-family: cursive;
	font-size: 15px;
	color: #f8f8f8;
}
.block{
	background:white;
	width:100%;
	padding-bottom: 20px;
}
.block h1{
	color:black;
	text-align:center;
	padding:15px 0px;
	padding-bottom:20px;
}
.block h1 span{
	color:#d76503;
}
.box{
	background:white;
	width: 347px;
	padding:10px;
	overflow:hidden;
	box-shadow: 0px 0px 4px 0px;
	text-align: left;
	padding-left: 22px;
	border-radius: 3px;
}
.servicediv #iconBox{
	width:45px;
	padding: 6px 8px;
	border: 1px solid #82f3ff;
	margin-top: 23px;
	box-shadow: 0px 0px 3px 0px;
	padding-right: 0px;
	border-radius: 2px;
}
#icon{
	font-size:35px;
	padding:5px;
	padding-left: 6px;
	color:#ff7600;
}
.rightContent{
	width: 266px;
	padding:5px;
	float:right;
	margin-left: 11px;
}
.rightContent h4{
	color:black;
}

#iconBox, .rightContent{display:inline-block}

h1,h2,h4,h3,h5,h6{
	font-family:arial black
}

.rightContent p{
    font-family: arial;
    font-size: 13px;
    color: #888;
    margin-top: 7px;
}
#iconBox {
    width: 45px;
    padding: 6px 8px;
    border: 1px solid #fcab33;
    margin-top: 23px;
    box-shadow: 0px 0px 3px 0px;
    padding-right: 0px;
    border-radius: 2px;
}
.box{
	display:inline-block;
	margin: 7px;
	transition:0.6s;
}
.box:hover{
	transform:scale(0.92);
	background-color:#ddd;
	cursor:pointer;
}
.box3{
	
	text-align: center;
}
footer{
	background:black;
	padding: 11px;
	color:white;
	font-family:arial;
	margin-bottom:0px;
	text-align:center;
}
.list ul li i{
	color: #ffffff7d;
	font-size: 20px;
	padding: 2px;
	margin: 0px 2px;
	transition: 0.5s;
}
.list ul li i:hover{
	color:#fffefec2;
	transform: translatey(-2px);
	cursor:pointer;
}
li{display:inline-block}
.name{
	color: #d95609;
	padding: 5px;
	padding-left: 0;
	padding-bottom: 0px;
	font-family: arial;
	border-bottom: 1px solid #d3d3d2d1;
}
.list{
	margin-top:10px;
}
ul{list-style:none;}

.topLine{
	background:black;
	overflow: hidden;
	border-bottom: 2px solid #eb7a06;
}
.mainMenu li{
	text-align:center;
	padding:20px;
	padding-left:2px;
	width: 158px;
	border-radius: 4px;
	transition:.4s;
}
.rmenu li:hover{
	background:#eb7a06;
  
}

.rmenu a, .fas{
	color:white;
}
.rmenu{
	width: 692px;
	float:right;
	padding-right: 38px;
}
.mainMenu{
	display:inline-flex;
}
i.fas {
    padding: 10px;
}

.submenu li{
	text-align:left;
	width: 77%;
	border-radius: 0px;
	border-bottom: 1px solid #ffffffb5;
	padding-left:10px;
}
.submenu{
	width: 178px;
	margin-top: 20px;
	background: #e5a15a99;
	display:none;
}
.sub1:hover .submenu{
	display:block;
	position:absolute;
}
.submenu li:hover{
	background:#ffffffb8; transition:0.4s;
}
.logo1{
	width:70px;
	float:left;

}
.logo1 img{
	width: 99%;
}
.rmenu, .logo1{
	display:inline-flex;
}
.logo{
	width:250px;
	padding-left: 40px;
	float:left;
	padding-top: 3px;
}
.logo2{
	width: 169px;
	float:right;
	padding-top: 12px;
}
.logo2 img{
	width:100%;
}
.servicediv{
	background: #ff7f2ad4;
}
.servicediv h1 {
    text-align: center;
    color: white;
    padding: 11px;
}
.servicediv .box:hover{
	transform:translatey(-15px);
	background-color:#0000009c;
	cursor:pointer;
	color:all white;
}
.servicediv .box:hover .w{
	color:white;
}
.web {
    color: #70c3f3;
}