@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
}
header {
  background: rgba(0, 0, 0, 0.58);
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.container {
  width: 1100px;
  margin: auto;
  overflow: hidden;
}
.logoDiv img {
  width: 36px;
  float: left;
  border-right: 1px solid white;
  padding-right: 13px;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.logoDiv {
}
.logoText {
  font-family: "arial black";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  width: 47%;
  margin-left: 11px;
  float: left;
  overflow: hidden;
  letter-spacing: 1px;
  font-size: 0.9em;
  margin-top: -3px;
}
div#nav {
  display: none;
}
.menuBar {
  overflow: hidden;
  padding: 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
menu ul {
  list-style: none;
}
menu li {
  float: left;
  padding: 0px 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.46);
}
menu li:last-child {
  padding-right: 0px;
  border-right: 0px;
}
menu li a {
  text-decoration: none;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.3s ease 0s;
  display: block;
}
menu ul li a::after {
  content: "";
  width: 0px;
  height: 1px;
  background: white;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: all 0.3s ease 0s;
}
menu ul li a:hover::after,
.actiivePage::after {
  width: 100%;
  visibility: visible;
}
menu li a i {
  font-size: 0px;
}
/*-------------------------- -------header coding ends here --------------------------------------------------*/

#landingView {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.62)),
    url("image/LandingImage.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100vw;
  margin-top: -54px;
}
.landingLogo {
  width: 238px;
  border-right: 3px solid white;
  padding-right: 28px;
  margin-right: 28px;
  float: left;
}
.landingLogo img {
  width: 100%;
}
.landingTextWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
}
.landingText {
  font-family: "arial black";
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.98);
  font-size: 65px;
  padding-top: 26px;
  float: left;
  display: block;
}
.landingText div {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
}
.logoWithText {
}
.landingLine {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  padding: 29px;
  letter-spacing: 3px;
  font-family: Poppins, sans-serif;
  display: block;
}
.fbLogo img {
  width: 170px;
}
.illustratorPictureFbDiv {
  width: 708px;
  float: left;
}
.illustratorPictureFbDiv img {
  width: 100%;
}
.joinFbGroupTextAndButton div {
  font-family: cursive;
  text-transform: uppercase;
  font-size: 33px;
  color: rgb(73, 105, 160);
  font-weight: 600;
}
.fbLogo {
  float: left;
}
.joinFbGroupTextAndButton {
  float: left;
  width: 308px;
  text-align: center;
}
.fbLogoAndJoinButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinFbGroupTextAndButton a {
  display: block;
  text-align: center;
}
.joinFbGroupTextAndButton button {
  padding: 10px;
  width: 100px;
  margin-left: -10px;
  text-transform: uppercase;
  background: rgb(30, 77, 158);
  outline: none;
  border: 1px solid rgb(30, 77, 158);
  color: white;
  margin-top: 17px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.5s ease 0s;
  border-radius: 4px;
  box-shadow: rgb(134, 133, 133) 4px 4px 3px -3px;
}
.joinFbGroupTextAndButton button:hover {
  background: rgb(9, 42, 99);
  border: 1px solid rgb(9, 42, 99);
  transform: scale(1.15);
}
.joinFbGroupWrapper {
  overflow: hidden;
  margin: 33px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/******************************* join fb group coding ends here **********************************/

.youtubeLogo img {
  width: 170px;
}
.illustratorPictureYoutubeDiv {
  width: 708px;
  float: left;
}
.illustratorPictureYoutubeDiv img {
  width: 100%;
}
.visitYoutubeChannelTextAndButton div {
  font-family: cursive;
  text-transform: uppercase;
  font-size: 33px;
  color: rgb(255 105 123);
  font-weight: 600;
  width: 347px;
}
.youtubeLogo {
  float: left;
}
.visitYoutubeChannelTextAndButton {
  float: left;
  width: 311px;
  text-align: center;
}
.youtubeLogoAndVisitButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 33px;
}

.visitYoutubeChannelTextAndButton a {
  display: block;
  text-align: center;
}
.visitYoutubeChannelTextAndButton button {
  padding: 10px;
  width: 100px;
  margin-left: -10px;
  text-transform: uppercase;
  background: rgb(255 105 123);
  outline: none;
  border: 1px solid rgb(255 105 123);
  color: white;
  margin-top: 17px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.5s ease 0s;
  border-radius: 4px;
  box-shadow: rgb(134, 133, 133) 4px 4px 3px -3px;
}
.visitYoutubeChannelTextAndButton button:hover {
  background: rgb(119, 0, 0);
  border: 1px solid rgb(119, 0, 0);
  transform: scale(1.15);
}
.visitYoutubeChannelWrapper {
  overflow: hidden;
  margin: 37px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/************************************ youtube page coding ends here *******************************************************/
.singleStat {
  width: 250px;
  float: left;
  text-align: center;
  border: 5px solid white;
  height: 250px;
  border-radius: 135px;
  background: rgb(39, 115, 210);
  color: white;
  transition: all 0.5s ease 0s;
  box-shadow: rgb(35, 95, 171) 0px 0px 27px -10px;
}
.singleStat:hover {
  background: rgb(91, 10, 179);
  box-shadow: rgb(91, 10, 179) 0px 0px 27px -10px;
  cursor: pointer;
  transform: scale(1.1);
}
.statIcon i {
  font-size: 55px;
}
.statText {
  width: 152px;
  margin: auto;
  text-transform: uppercase;
  font-family: cursive;
}
.statsWrapper {
  display: flex;
  justify-content: space-around;
  margin: 43px 0px 13px;
  flex-wrap: wrap;
}
.statIcon {
  margin-top: 41px;
  margin-bottom: 16px;
}
.statText h2 span {
  display: block;
  font-size: 31px;
  padding-bottom: 3px;
}
.noteIllustrateImage {
  width: 683px;
  float: left;
}
.journeyToNoteWrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-top: -23px;
}
.noteIllustrateImage img {
  width: 100%;
}
.journeyToNoteTextAndButton {
  float: left;
  width: 407px;
  text-align: center;
  color: rgb(139 183 240);
  margin: 56px 0px 53px;
}
.journeyToNoteTextAndButton h2 {
  font-family: "Short Stack", cursive;
  font-size: 37px;
  text-transform: uppercase;
}
.journeyToNoteTextAndButton img {
  width: 147px;
  padding: 20px 0px;
  margin-top: -21px;
}

.journeyToNoteTextAndButton button {
  background: rgb(110 172 252);
  padding: 10px;
  width: 133px;
  margin-left: -6px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid rgb(110 172 252);
  color: white;
  margin-top: 17px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.5s ease 0s;
  border-radius: 4px;
  box-shadow: rgb(134, 133, 133) 4px 4px 3px -3px;
}
.journeyToNoteTextAndButton button:hover {
  background: rgb(4, 121, 189);
  border: 1px solid rgb(4, 121, 189);
  transform: scale(1.15);
}
#quote {
  background: linear-gradient(rgb(0 0 0 / 42%), rgb(0 0 0 / 56%)),
    url(image/aaa.jpg);
  box-shadow: black 0px 2px 14px -6px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.quoteWrapper {
  margin: 84px 0px;
}
.quoteWrapper button {
  margin: 45px auto auto;
  display: block;
  width: 114px;
  padding: 10px 12px;
  background: rgba(148, 143, 143, 0.47);
  color: white;
  outline: none;
  border: 0px solid rgba(148, 143, 143, 0.47);
  border-radius: 17px;
  font-family: cursive;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  font-weight: 700;
}
.quoteWrapper button:hover {
  box-shadow: white 0px 0px 15px -7px;
  background: rgba(148, 143, 143, 0.64);
}
.quoteWrapper h1 {
  text-align: center;
  color: rgb(255 255 255 / 78%);
  font-size: 38px;
  font-family: cursive;
}
.pdfIllustrateImage {
  width: 683px;
  float: left;
}
.journeyToPdfWrapper {
  display: flex;
  justify-content: space-between;
}
.journeyToPdfwrapper {
  overflow: hidden;
  margin-top: 60px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.pdfIllustrateImage img {
  width: 100%;
}
.journeyToPdfTextAndButton {
  float: left;
  width: 407px;
  text-align: center;
  color: #6baa9c;
  margin: 68px 0px 53px;
}
.journeyToPdfTextAndButton h2 {
  font-family: "Short Stack", cursive;
  font-size: 35px;
  text-transform: uppercase;
  width: 309px;
  margin: auto;
}
.journeyToPdfTextAndButton img {
  width: 128px;
  padding: 9px 0px;
}
.journeyToPdfTextAndButton button {
  background: #478779;
  padding: 10px;
  width: 133px;
  margin-left: -6px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid #478779;
  color: white;
  margin-top: 17px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.5s ease 0s;
  border-radius: 4px;
  box-shadow: rgb(134, 133, 133) 4px 4px 3px -3px;
}
.journeyToPdfTextAndButton button:hover {
  background: #355a52;
  border: 1px solid #355a52;
  transform: scale(1.15);
}
.teamMemberImage {
  width: 206px;
  overflow: hidden;
  height: 202px;
  border-radius: 102px;
  border: 4px solid rgb(38, 174, 253);
  box-shadow: rgb(38, 174, 253) 0px 0px 21px 1px;
  transition: all 0.4s ease 0s;
}
.teamMemberImage img {
  width: 100%;
  margin-top: -22px;
}
.memberJannatul img {
  margin-top: -3px;
}
.singleTeamMember {
  float: left;
  text-align: center;
}
.teamFirstRow {
  display: flex;
  justify-content: space-around;
}
.teamSecondRow {
  display: flex;
  justify-content: space-around;
  width: 786px;
  margin: auto;
}
.teamWrapper {
  margin-top: 69px;
  margin-bottom: 7px;
}
.teamWrapper h1 {
  font-family: cursive;
  text-transform: uppercase;
  text-align: center;
  margin: 78px 0px;
  color: rgb(33, 151, 199);
  font-size: 42px;
}
.singleTeamMember h2 {
  font-family: "Baloo Tammudu 2", cursive;
  color: rgba(41, 111, 185, 0.93);
  margin-top: 15px;
  margin-bottom: -27px;
}
.singleTeamMember h3 {
  font-family: "Baloo Tammudu 2", cursive;
  color: rgba(11, 39, 173, 0.45);
}
.singleTeamMember:hover .teamMemberImage {
  transform: scale(1.1);
  border: 4px solid rgb(16, 102, 152);
  box-shadow: rgb(16, 102, 152) 0px 0px 21px 1px;
}

.websiteTextAndButton img {
  width: 100px;
}
.websiteIllustrateImage {
  width: 708px;
  float: left;
}
.websiteIllustrateImage img {
  width: 100%;
}
.websiteTextAndButton {
  font-family: cursive;
  text-transform: uppercase;
  font-size: 24px;
  color: #84c6f6;
  font-weight: 600;
  width: 347px;
  float: left;
  width: 311px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.websiteTextAndButton a {
  display: block;
  text-align: center;
}
.websiteTextAndButton button {
  width: 149px;
  margin-left: -10px;
  text-transform: uppercase;
  background: #84c6f6;
  outline: none;
  border: 1px solid #84c6f6;
  color: white;
  margin-top: 17px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.5s ease 0s;
  border-radius: 4px;
  box-shadow: rgb(134, 133, 133) 4px 4px 3px -3px;
  padding: 14px 10px;
}
.websiteTextAndButton button:hover {
  background: rgb(7, 11, 255);
  border: 1px solid rgb(7, 11, 255);
  transform: scale(1.15);
}
.createWebsiteWrapper {
  overflow: hidden;
  margin: 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background: #1b1c1d;
}
footer .logoDiv {
  float: left;
  width: 200px;
  margin-bottom: 13px;
}
footer .logoText {
  font-family: "arial black";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  width: 47%;
  margin-left: 11px;
  float: left;
  overflow: hidden;
  letter-spacing: 1px;
  font-size: 0.9em;
  margin-top: -3px;
}
.singleFooter p {
  color: white;
  font-size: 0.9em;
  width: 355px;
}

.singleFooter {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: cursive;
}
.contactinfo li {
  list-style: none;
  font-size: 0.9em;
  transition: 0.25s;
}
.contactinfo li:hover {
  color: #fb5200;
  cursor: pointer;
}
.singleFooter h2 {
  text-transform: capitalize;
  margin-bottom: 15px;
}

.footerWrapper {
  display: flex;
  justify-content: space-around;
  padding: 35px 0px;
}
.contactinfo i {
  color: #ff5200;
  padding-right: 9px;
  margin-top: 5px;
}
.pageLinks ul li {
  list-style: none;
  border-bottom: 0.1px solid #f7f7f738;
}
.pageLinks ul li:last-child {
  border-bottom: 0px;
}
.pageLinks ul li a {
  color: white;
  text-transform: capitalize;
  transition: 0.25s;
}
.pageLinks ul li a:hover {
  color: #fb5200;
}
.lastLIne {
  color: #ffffff99;
  font-family: "Baloo Tammudu 2", cursive;
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: auto;
  text-transform: uppercase;
  font-size: 0.9em;
}

.Designed a {
  color: #ffffff;
  transition: 0.25s;
}
.Designed a:hover {
  color: #ff5200;
}
.copyright span {
  color: white;
}
