.checkbtn {
  display: block;
}
#navMenu ul {
  position: fixed;
  width: 100%;
  height: 380vh;
  background: #000000f7;
  top: 80px;
  left: -100%;
  transition: all 0.5s;
  flex-direction: column;
  display: flex;
  margin-top: -27px;
}
nav ul li {
  display: block;
  margin: 50px 0;
  line-height: 30px;
  padding-top: 30px;
}
nav ul li a {
  font-size: 20px;
}
#check:checked ~ ul {
  left: 0;
}
.menuBar {
  flex-direction: row;
  padding: 0px 0px;
  margin: 8px 0px;
}

menu li {
  float: left;
  padding: 6px 8px;
  margin-top: 30px;
  border-right: 0px solid rgba(255, 255, 255, 0.46);
}
.container {
  width: 510px;
}
.logoDiv {
  padding: 0px 25px;
  margin-bottom: 0px;
}
.landingLogo {
  width: 148px;
}
.landingText {
  font-size: 47px;
  padding-top: 2px;
}
.landingLine {
  width: 271px;
  text-align: center;
}
.fbLogo img {
  width: 137px;
}
.joinFbGroupWrapper {
  flex-direction: column;
}
.illustratorPictureFbDiv {
  width: 100%;
}
.singleStat {
  transform: scale(1);
  width: 142px;
  height: 141px;
}
.statIcon {
  margin-top: 10px;
  margin-bottom: 8px;
}
.statIcon i {
  font-size: 33px;
}
.statText h2 span {
  font-size: 22px;
}
.statText h2 {
  font-size: 15px;
  width: 142px;
}
.visitYoutubeChannelWrapper {
  overflow: hidden;
  margin: 37px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.illustratorPictureYoutubeDiv {
  width: 100%;
}
.journeyToNoteWrapper {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.noteIllustrateImage {
  width: 100%;
}
.journeyToPdfWrapper {
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}

.pdfIllustrateImage {
  width: 100%;
}
.journeyToPdfTextAndButton h2 {
  font-size: 29px;
  width: 263px;
}
.journeyToNoteTextAndButton {
  margin: -8px 0px 53px;
}
.teamFirstRow {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.teamSecondRow {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.websiteIllustrateImage {
  width: 82%;
}
.createWebsiteWrapper {
  flex-direction: COLUMN;
  margin-bottom: 40px;
}
.websiteTextAndButton img {
  width: 64px;
}
.websiteTextAndButton {
  font-size: 12px;
}
.websiteTextAndButton button {
  width: 123px;
  padding: 4px 6px;
  font-size: 10px;
  height: 38px;
}
.footerWrapper {
  display: flex;
  justify-content: space-around;
  padding: 35px 0px;
  flex-direction: column;
  align-items: center;
}
.contactinfo ul {
  width: 242px;
}
.singleFooter h2 {
  margin-bottom: 0px;
  text-align: center;
}
.singleFooter {
  margin-bottom: 22px;
}
.pageLinks {
  width: 242px;
}
.singleTeamMember h2 {
  margin-bottom: -22px;
  margin-top: 12px;
  font-size: 23px;
}
.teamMemberImage {
  transform: scale(1);
  margin-left: 11px;
}
.singleTeamMember {
  margin-bottom: 13px;
}
@media (max-width: 509px) {
  body {
    width: 509px;
  }
  #landingView {
    width: 509px;
  }
}
@media (max-width: 128px) {
  body {
    width: 127px;
  }
  #landingView {
    width: 127px;
  }
}
